node_modules/
.vscode/
.cache/
.prettierrc
.github
.npmrc
src/
demo/
test/
coverage/

.rts2*

karma.conf.js
vite.config.ts
tsconfig.json
tslint.json
eslint.config.mjs
Jenkinsfile

dist/demo
dist/test
dist/index.html
dist/demo*
