html,
body {
  width: 100vw;
  max-width: 600px;
  margin: auto;
}
fieldset {
  margin: 2rem;
  padding: 2rem;
  textarea {
    width: 100%;
  }
}

ul.nav {
  margin: 0;
  padding: 0;
}

ul.nav li {
  display: block;
  float: left;
  padding: 60px;
}

.center {
  text-align: center;
}
